Q1) In this case, 2 sample 2 tail test is applicable

H0 : There is so significant difference in the diameter of the cutlets from the 2 units.
HA : There is significant difference in the diameter of the cutlets from the 2 units.

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import norm

In [4]:
# load dataset
data = pd.read_csv('/content/Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
unitA = pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [8]:
unitB=pd.Series(data.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [9]:
#2samples 2tail t test : stats.ttest_ind(array1, array2), ind -> independent samples.
pvalue = stats.ttest_ind(unitA,unitB)
pvalue

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
#compare pvalue and α value (α=0.05, i.em at 5% significance level)

Inference:
Since pvalue > α ,fail to reject HO . Therefore,there is no significant difference in the diameter of the cutlets from unit A and unit B.

Q2) ANOVA is applicable for this case.
HO : There is no difference in the average TAT among different laboratories.
HA : There is difference in the average TAT in atleast one of the laboratories

In [11]:
# load dataset
labs = pd.read_csv('/content/LabTAT.csv')
labs.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [13]:
#Anova ftest statistics: stats.f_oneway(column-1, column-2, column-3, column-4)
pvalue = stats.f_oneway(labs.iloc[:,0],labs.iloc[:,1],labs.iloc[:,2],labs.iloc[:,3])
pvalue

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
#compare pvalue and α value=0.05 (at 5% significance level)

Inference :
Since α value > pvalue , Ho is rejected. Therefore, there is difference in the average TAT in atleast one of the laboratories.

Q3) Chi-square test is applicable for this case.
HO : male-female buyer rations are similar across regions.
HA : male-female buyer rations are not similar across regions.

In [27]:
from scipy.stats import chi2_contingency

In [16]:
#load dataset
buyer =pd.read_csv('/content/BuyerRatio.csv')
buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [18]:
#make dimensional array
obs = np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [19]:
#chi2 contengency independence test
#output is (chi2 stats value,pvalue,df,expected observations)
chi2_contingency(obs)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#compare pvalue and α value=0.05

Inference :
Since pvalue> α value, accept HO. Therefore, male-female buyer rations are similar across all regions.
# New Section

Q4) HO :customer order forms defective% does not vary by the center (Independence of categorical variable)
HA: customer order forms defective% vary by the center( Dependence of categorical variable)

In [20]:
customer = pd.read_csv('/content/Costomer+OrderForm.csv')
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [21]:
customer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [22]:
customer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [23]:
customer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [24]:
customer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [25]:
#Make a contingency table
obscustomer = np.array([[271,267,269,280],[29,33,31,20]])
obscustomer

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [29]:
# Chi2 contingency independence test, output :(chi2 statistic, pvalue,df,expected observations)
chi2_contingency(obscustomer)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
# compare pvalue and α value=0.05

Inference : pvalue> α, Accept null hypothesis. Therefore, customer order forms defective% does not vary by the center.